[2018-04-04 14:59] Harjot1Singh opened #1 "Publish ES5 transpilation on npm"
https://medium.com/@dandv/publishing-native-es-modules-with-node-v8-5-0-730736e0f612

[2018-04-04 15:00] Harjot1Singh opened #2 "Publish to unpkg CDN"
https://hackernoon.com/how-to-publish-your-package-on-npm-7fc1f5aae600

[2018-06-12 23:27] Harjot1Singh opened #3 "Write tests and CI checks"

[2018-06-16 03:51] Harjot1Singh opened #6 "Release-it bump package version"
Release-it doesn't appear to be committing the bumped `package.json` version 🤔

[2018-06-16 22:31] #1 closed

[2018-06-16 22:31] #2 closed

[2018-06-19 02:40] #3 closed

[2018-06-19 02:41] Harjot1Singh commented on #6
Doesn't really matter unless installing from the git repo itself 🤷‍♂️

[2018-06-19 02:41] #6 closed

[2018-06-19 18:26] sarabveer opened #11 "Find JS ICU Library for Hindi Transliteration"
PHP `transliterator_transliterate` equivalent

[2018-07-12 04:42] Sarabveer commented on #11
So I found this

https://www.npmjs.com/package/icu-transliterator

Don't know how to implement it

[2018-08-20 03:36] Sarabveer opened #13 "Add Support for Shahmukhi Transliteration"

[2018-08-21 06:11] Sarabveer commented on #13
https://www.google.com/get/noto/#nastaliq-aran

This font should be used when rendering Shahmukhi.

[2018-08-21 06:12] Sarabveer commented on #13
Also, should this be renamed `toUrdu`?

[2018-08-22 22:03] #13 closed

[2018-08-25 00:18] #11 closed, assigned to nobody

[2018-09-11 23:45] Harjot1Singh opened #17 "Add TS definitions"

[2018-09-12 21:05] Harjot1Singh opened #18 "Add coverage badge"

[2018-09-12 21:07] Harjot1Singh opened #19 "Rename transliterate to toEnglish"
More consistent with the other transliteration functions. It should also accept unicode as its input, inline with the other functions.

[2018-09-12 22:53] Harjot1Singh opened #20 "Letters function"
Similar to `firstLetters()` except should grab every letter in the string, excluding vowels by default.

[2018-09-13 00:14] #19 closed

[2018-09-13 00:16] Sarabveer opened #22 "Implement IPA Transliteration"
Will allow for TTS and potential usage on Voice Assistants (such as Alexa or Google Assistant)

[2018-09-13 13:42] Harjot1Singh commented on #18
Added.

[2018-09-13 13:42] #18 closed

[2019-01-02 21:34] bhajneet opened #25 "Remove Rahao from First Letters"
`app` should show up higher in search results but the "rahao" in the line fails search priority

[2019-01-03 16:19] Harjot1Singh commented on #25
Any ideas on consistent detection? Could someone add in some failing tests

[2019-01-03 17:05] Sarabveer opened #27 "Add ES6 Export"
When using in Node.js, it should use `index.js` directly rather than the webpacked version.

[2019-01-03 17:11] Harjot1Singh commented on #27
Should be as simple as adding a `module` property to `package.json` for ES6 targets, but for the node target, maybe a transpiled ES6 version should be used?

[2019-01-25 00:01] Sarabveer opened #28 "Render issues when converting Yakash with Sihari and other Vowel from ASCII to Unicode"
## Example 1

`kul jn mDy imil´o swrg pwn ry ]`

Should convert to:
ਕੁਲ ਜਨ ਮਧੇ **ਮਿਲੵਿੋ** ਸਾਰਗ ਪਾਨ ਰੇ ॥

| Platform | ਮਿਲਿੋੵ | ਮਿਲੵੋਿ | ਮਿਲੵਿੋ |
|-----------------------|-------|-------|-------|
| iOS 11 | ✅ | ❌ | ❌ |
| iOS 12 | ❌ | ❌ | ❌ |
| iOS 13 Beta | ❌ | ✅ | ✅ |
| MacOS High Sierra | ✅ | ❌ | ❌ |
| MacOS Mojave | ❌ | ❌ | ❌ |
| MacOS Catalina Beta | ❌ | ✅ | ✅ |
| Windows 10 (Edge/Office) | ✅ |

[2019-01-25 00:06] Sarabveer commented on #28
https://github.com/ShabadOS/gurmukhi-utils/blob/240a4875eef53113de15865c34067ab3e7aae0a2/lib/toUnicode.js#L16

Should be:

[code]

[2019-01-25 00:10] Sarabveer commented on #28
After testing out on different platforms, some render the first conversion correct (Android), while Windows renders the second one correctly.

[2019-07-25 22:06] Sarabveer opened #63 "Fix ਭਿ੍ਯੋ in Unicode Converter"
`ਭਿ੍ਯੋ` should be `ਭ੍ਯਿੋ`

Caused by Half-Yayya coming after Sihari.

Also needs to be fixed in ASCII converter.

[2019-07-25 22:16] Sarabveer commented on #28
Related to #63

This needs more research and a possible submission to the Unicode Consortium.

[2019-07-25 22:23] Sarabveer commented on #28
`ਮਿਲੵਿੋ` might be the correct method.
[code]

[2019-07-26 05:46] Sarabveer commented on #28
Paging @kulpreetchilana

[2019-07-28 03:14] Sarabveer commented on #28
Looks like the correct method to convert is Base Letter + Yakash + Sihari + (Vowel)

[2019-07-28 03:15] Sarabveer commented on #63
Related to #28

[2019-08-22 13:05] Sarabveer commented on #28
Looks like Apple introduced a new Gurmukhi font in iOS 13 and MacOS Catalina, above tables have been updated.

Most likely I will implement the third column.

[2019-09-13 16:52] #28 closed

[2019-09-13 16:52] #63 closed

[2019-10-11 14:15] bhajneet commented on #25
https://github.com/ShabadOS/desktop/issues/46

[2019-10-15 16:46] bhajneet opened #102 "Add extra toEnglish transliterate/pronunciation keys"
Add BoS for now, will add others later.

[2019-10-22 01:51] Sarabveer opened #104 "Add mainLetters support"
Strip out anything that isnt a space, 35 Letters, or Letter with Pair Bindi.

[2019-10-22 01:53] Sarabveer opened #105 "Add firstLetter for Translit/Pronunciations"
Add option to get first letter of english transliteration. Allows for transliteration searching.

[2019-10-22 15:28] bhajneet commented on #104
Do you want to convert ascii codes `^` to `K`, `E` to `a`. etc to etc?
That's what I would recommend. Though ultimately it would be great if for
example `a` searched for `a` and `E` and `E` could also be used to search
specifically for `E`.

On Mon, Oct 21, 2019 at 9:51 PM Sarabveer Singh <notifications@github.com>
wrote:

[2019-10-22 15:42] bhajneet commented on #104
Related to https://github.com/ShabadOS/desktop/issues/146 `~` first char to trigger main letters search. @Harjot1Singh you'll have to add logic that the first char in desktop if it's an ascii char ~ to not allow that in the rest of the search and convert to main letters search (There is no word that begins with ~ char so it's okay). If an input had full word search and then the first char entered

[2019-10-22 17:14] Sarabveer commented on #104
I think this might be the best method. It would be just space and 35 Akhars

[2019-11-06 13:41] bhajneet opened #107 "English pronunciation of ੴ (IkOankaar) should be lowercased"
Proposed: `ik oankaar` or `ik-oankaar`

[2019-11-06 13:50] Sarabveer opened #108 "Add more Shahmukhi Rules"
Rules gotten from feedback

- For `ਉ`, `اُ` should be used if in the beginning of the word, `و` should be used if at the end of the word.
- `ے` is never used in the middle of a word, only at the end, should use `ی` by default.
- If there are 2 vowels, in the case of `ਨਾਈ`, a hamza `ء` needs to be added.

[2019-11-06 14:01] bhajneet opened #109 "Hindi pronunciation should be written out instead of symbolized (ੴ)"
Our english and urdu pronunciations do not symbolize ik oankaar. They are written out in their native scripts to help readers pronounce gurmukhi.

![image](https://user-images.githubusercontent.com/14130567/68303945-d9e29b80-0072-11ea-9f39-e51ad488c68d.png)

Hindi pronunciation is following a centuries old tradition of hindi-written gutkas using gurmukhi for ੴ. This would not help newcomers who sp

[2019-11-06 14:41] Sarabveer commented on #109
If the display is the issue, then should be adding Noto Gurmukhi with the same weight as the Noto Devanagari. As done on unicode.sarabveer.me

[2019-11-08 02:56] Sarabveer commented on #109
The strict transliteration of `ਇੱਕ ਓਅੰਕਾਰ` would be `इक ओअंकार`

[2019-11-12 06:00] Sarabveer commented on #102
Some thoughts:
1. Should make BoS default or some other key from the Excel sheet default.
2. Remove current transliterations. They aren't as good compared to the other available ones that are in the file.

[2019-11-12 21:30] Sarabveer commented on #109
If we were to function more on pronunciation, rather than how hindi gutkas have done it, would it make sense to revert this commit?

https://github.com/ShabadOS/gurmukhi-utils/commit/9b2db534f95e75ef6c8a98da4b66a1d17a4981d5#diff-9ca2fd03450710565328b2617ebdc2f3

[2019-11-16 22:14] bhajneet commented on #109
we should basically have transliteration, pronunciation as separate fields. one is for reading gurbani in a different script as it is written in as close to the same way as possible with a back and forth compatibility assuming rules. the pronunciation is for speaking purposes and could include different schools of though (saha vs shaha for king)

[2019-11-21 02:03] Sarabveer opened #140 "Find Unicode Gurmukhi instead of ASCII in Search query in Lines Model"
Currently, `is-ascii` is being used to detect if the search query is in the GurbaniAkhar format.

However, GurbaniAkhar has letters that are outside the 128char ASCII range. This triggers the search to convert Unicode -> GurbaniAkhar, which messes up the search query (esp in Full Word searches).

Solutions:

1. Find a library that can check if a character is in a unicode block

2. Build own soluti

[2020-01-10 02:19] #107 closed

[2020-01-15 02:41] Harjot1Singh commented on #25
Need more insight. What happens when we have lines which have a break inbetween/rahao, but then another line? I think we have some instances of that in our DB.

[2020-01-15 15:31] bhajneet commented on #25
I hope there are 0 instances of that. I can't think of any scenario requiring a rahao line-ending in the middle of a line.

Can you run some query to check?

[2020-02-03 13:32] preetcharan opened #123 "Transliteration corrections"
Referring to the pangti naanak kehat pukaar kai..., for three letter words that have 'haha' in the middle, the pronunciation rule is that the first letter gets a laav (if you're of that school of thought), so if possible can we develop the translit rules so it says 'kehat' not kahat. Similar word is like Sehaj.

In the next pangti sabh bheo paraaeo

the rule does follow what i suggested but it's n

[2020-02-03 16:39] Sarabveer commented on #123
So, it would be transliterating ਕੇਹਤ and ਸੇਹਜ?

[2020-02-03 18:00] bhajneet commented on #123
Using VS Code regex `.*gurmukhi.*[".,; ]([^iIuUyYwoOWmM",.; ][h][^iIuUyYwoOWmM",.; ])[\[".,; ].*` for 3 consonant-letter words with ਹ/haha as the center letter. (Not a perfect regex, so might have missed some instances). This gives 1.3k results across the database repo, half of them from Sri Guru Granth Sahib Ji.

~90% of them are (per replacing XYZ in `.*gurmukhi.*(["\[.,; ]XYZ["\[.,; ]).*`):

Wo

[2020-02-03 19:36] Sarabveer commented on #123
Yes, single laav sounds odd? @preetcharan did you mean Dulavan?

[2020-02-03 19:37] Sarabveer commented on #123
@bhajneet In this case, it would be ਮਹੱਲ

[2020-02-03 19:40] Sarabveer commented on #20
Duplicate of #104

[2020-02-03 19:40] #20 closed

[2020-02-03 19:53] preetcharan commented on #123
@bhajneet @Sarabveer yes i'm really sorry i meant dulaav

[2020-02-03 20:00] bhajneet commented on #123
So did you want these to be `saihaj`, `raihat`, `kaihat`, ...? That is how dulaav is transliterated in other words according to BoS.

[2020-02-03 20:03] preetcharan commented on #123
even though that's the rule, would actually prefer it as kehat, rehat, sehaj @bhajneet

[2020-02-03 20:10] bhajneet opened #124 "Separate transliteration vs pronunciation"
Transliteration is a two way process. If you feed gurmukhi into a transliterator and then try to convert that back into gurmukhi it should match. 1 to 1. 0 loss of data.

I think today only our Hindi is close to actually being able to do this. And that's because all the characters of gurbani have a corresponding character in devanagri.

This is also possible in English using accented characters. I

[2020-02-03 20:11] bhajneet commented on #22
Depends on #102

[2020-02-03 20:14] bhajneet commented on #123
@preetcharan Okay, we'll implement that.

@Sarabveer @Harjot1Singh note: these school of thought pronunciations relate to #102 and #124

[2020-02-03 20:17] bhajneet commented on #105
This is easy for now without multiple pronunciation sources. #102 may complicate it with multiple columns being required.

[2020-02-03 20:19] bhajneet commented on #105
Also how do we handle first letters with more than one character? Some examples: ਖ as kh, ਭ as bh, ਥ as th

[2020-02-03 20:23] bhajneet commented on #105
Depends on https://github.com/ShabadOS/desktop/issues/394

[2020-02-03 20:25] Sarabveer commented on #105
This is for searching transliterations. Say someone was searching:

I would be stored as `tdtpnkh`. This allows any spelling of the translit, as long as the first letter is correct.

[2020-02-03 20:29] Sarabveer commented on #123
@bhajneet these aren't based on school of thought afaik, they should be just implemented.

[2020-02-03 20:54] bhajneet commented on #123
Yeah, we can simply say this is the Basics of Sikhi pronunciation when we add options.

[2020-02-03 21:05] bhajneet commented on #105
So you're suggesting prop 2, use first letters only.

For me, there is a bit of confusion on t vs tt vs tth of tthaakur. How does the user know what to type? How can we educate them to use only one letter? I think it would be safer to ask the user to type out the spaces and we strip the spaces and any non-first letter.

So continuing with prop 1 and 2 it would be:

`kh kh kh kh kh t n` => `kkkkktn

[2020-02-03 21:07] bhajneet commented on #105
I do like that using only the first letter like prop 2 acts almost exactly like first letters gurmukhi (without spaces) and lets the space char be used as a wildcard. So that's a big plus for prop 2 and not using spaces to separate chars.

[2020-02-03 21:35] Sarabveer commented on #105
You are confusing me.

I search: `rakha ek hama swami`.

The search function would take the first letters, `rehs`, and then search that in the DB.

[2020-02-03 21:55] bhajneet commented on #105
The discussion between desktop search and how gurmukhi-utils would store this in the db is about how the user searches pronunciations.

I think users would appreciate being able to search just first letters of english pronunciation. So if the line sung is rakha ek hamara swami, the user could input `rehs`, `r e h s`, etc. for first letter english pronunciation search.

This helps users that don't

[2020-02-03 22:34] Sarabveer commented on #105
This won't be just limited to desktop. Full translit search is needed for a website.

I guess first letter translit search is possible as well.

[2020-03-07 00:54] bhajneet commented on #102
Required by ShabadOS/desktop#391

[2020-03-18 16:43] #123 closed

[2020-03-30 16:36] bhajneet opened #135 "Add transliteration of yaiya variations"
@Sarabveer , @preetcharan, @sarigpani please come to a consensus for pronunciation

Need to add tests as well

[2020-03-30 16:40] Sarabveer commented on #135
No one has proposed that it has anything different from the regular yaiyha, so it is just a stylistic variation.

It would also need to be added to the Unicode converter, where it would just convert to a regular yaiyha with the line on top

[2020-04-09 15:00] Harjot1Singh commented on #135
Is this still in research, or ready to go?

[2020-04-09 18:53] Sarabveer commented on #135
Will need to look at https://github.com/GurbaniNow/gurmukhi-fonts/issues/11

[2020-05-02 04:23] saihaj opened #136 "Add larivaar"
https://github.com/ShabadOS/theme-tool/pull/1#discussion_r418789452
I think this will also be useful for mobile.

[2020-05-02 06:44] Sarabveer commented on #136
@Harjot1Singh do we want to include larivaar in gurmukhi-utils or just do in in app.

[2020-05-02 07:12] Harjot1Singh commented on #136
I think it may be worth moving this into GU. Do you think others, or yourself would find it useful?

[2020-05-03 18:35] Sarabveer commented on #136
Sure, it could be moved into GU. I personally replace spaces with Zero-Witdh Spaces (U+200B) for Larivaar.

How would GU implement assist though, isn't that up to the app?

[2020-05-03 18:44] saihaj commented on #136
Yeah assist will depend on the app

[2020-05-04 16:29] bhajneet commented on #105
@saihaj can you implement prop 2 into gurmukhi-utils?

Each word should be converted to English pronunciation, then return the first letter of each word as a string

Example, passing `ਖੂਬੁ ਖੂਬੁ ਖੂਬੁ ਖੂਬੁ ਖੂਬੁ ਤੇਰੋ ਨਾਮੁ ॥` to function returns `kkkkktn` (via toEnglish.js pronunciation "khoob khoob khoob khoob khoob tero naam |")

[2020-05-04 19:43] Harjot1Singh commented on #105
`firstLetters(toEnglish(input))` + some tests to verify input, add to a new file/function (need to think of name)

[2020-05-04 19:46] bhajneet commented on #105
Include hindi/urdu

[2020-05-04 19:47] saihaj commented on #105
I can do this

[2020-05-04 19:59] bhajneet opened #137 "Heavy first letters not being searched properly"
Search `kkkk` for line found by `kkkknsA`. The line is actually `k.kkk;nsA`. We have a column called vishraam_first_letters, not heavy_first_letters.

_Originally posted by @Harjot1Singh in Slack_

[2020-05-04 19:59] saihaj commented on #137
I can do this

[2020-05-04 20:01] Harjot1Singh commented on #137
replace `withVishraams` parameter of `firstLetters` with an object that takes something like `{ heavy: true }` and by default is `{}`

[2020-05-11 04:06] Sarabveer commented on #22
@bhajneet wouldn't this be separate from English?

[2020-05-11 10:58] bhajneet commented on #22
I suppose IPA is beyond English, so we could call it toIPA and have it be it's own language in Shabad OS, as opposed to an alternative to the English one

[2020-05-11 14:39] saihaj opened #138 "Ability to remove Line and page numbers"
Required by ShabadOS/desktop#508

[2020-05-11 21:25] saihaj commented on #138
Possibly can use in ShabadOS/desktop#225

![image](https://user-images.githubusercontent.com/44710980/81613359-f0f8a200-93a3-11ea-9ec7-9534394cab3f.png)

[2020-05-16 22:12] Sarabveer commented on #109
Depends #124

[2020-05-18 20:50] Sarabveer opened #139 "Add Pingal/Syllable Counter"
This would be able give a count of syllables in a line for poetry.

All 35 Akhars including bindi chars count as 1 syllable.

There are 2 types of lagamatras, Harasv and Dheerag. Harasv doesn't count as a syllable, and Dheerag is 1 syllable.

Pairin Akhars also do not count as a syllable.

All other characters (such as Dandian) should be skipped.

[2020-05-18 21:31] bhajneet commented on #139
Can you please provide a range of test lines and their count for testing?

[2020-05-18 21:57] Sarabveer commented on #139
@bhajneet I was planning on doing that, it is required anyway

[2020-05-21 23:58] bhajneet commented on #140
@Harjot1Singh How best to add a single line func like this?

[2020-05-22 00:00] bhajneet commented on #140
Required for https://github.com/ShabadOS/desktop/pull/543 refactor and https://github.com/ShabadOS/database/blob/dev/lib/models/Lines.js#L39

[2020-05-23 22:06] Harjot1Singh commented on #140
Waiting on https://github.com/ShabadOS/gurmukhi-utils/pull/141

[2020-05-23 22:19] bhajneet commented on #140
Perhaps this issue should be broken, as the PR is set to close this one.

[2020-05-25 19:12] Harjot1Singh commented on #25
@bhajneet Does this apply to things like `] 3 ]` etc?

Could you and @Sarabveer provide me with any conditions beyond matching `rhwao`?

[2020-05-25 21:00] bhajneet commented on #25
The number should never be conflicting with matches. That is a separate requirement. `jkmjmk` should be an exact match for `jy ko mMin jwxY; min koie ]12]`.

Use regex search in VS Code `"SGPC": ".* \].* .* .* \]"`.  For SGGS ji this should suffice: `rhwau, Cky, Ckw`.

Exact match query | For line | In Unicode
|---|---|---|
sGrvq | so Gru rwKu; vfweI qoie ]1] rhwau ] | ਸੋ ਘਰੁ ਰਾਖੁ; ਵਡਾਈ ਤੋਇ ॥੧॥ ਰਹ

[2020-05-25 21:34] Harjot1Singh commented on #25
Expose `stripRahao` publicly, or keep it internal to first letter? I suspect we're gonna want this with our new full word searching column, no?

[2020-05-25 21:36] Harjot1Singh commented on #138
@bhajneet @Sarabveer please advise on what constitutes a line ending/what to look for

[2020-05-25 21:39] Harjot1Singh commented on #25
FYI anything with multiple line endings is going to be tricky to deal with - I recommend just deferring the correct matching behaviour to splitting the lines correctly in DB.

[2020-05-26 16:08] bhajneet commented on #138
Hard to do exhaustive searches with regex, but this is a good start. TTR +60 min

## Unique examples from JSON :

[code]

## Examples to NOT modify (I think mostly these are all `"type": "Sirlekh"`):

[code]

[2020-05-26 16:11] bhajneet commented on #25
I believe you will need this for full word exact match

[2020-05-26 16:39] bhajneet commented on #25
Some additional examples:

Line | In Unicode
|---|---|
Awie imlu gurisK. Awie imlu; qU myry gurU ky ipAwry ] rhwau ] | ਆਇ ਮਿਲੁ ਗੁਰਸਿਖ. ਆਇ ਮਿਲੁ; ਤੂ ਮੇਰੇ ਗੁਰੂ ਕੇ ਪਿਆਰੇ ॥ ਰਹਾਉ ॥
jhw qy aupijAw; iPir qhw smwvY [49[1[ ieku [ | ਜਹਾ ਤੇ ਉਪਜਿਆ; ਫਿਰਿ ਤਹਾ ਸਮਾਵੈ ।੪੯।੧। ਇਕੁ ।
nwnk scu swlwih; pUrw pwieAw ]27] suDu | ਨਾਨਕ ਸਚੁ ਸਾਲਾਹਿ; ਪੂਰਾ ਪਾਇਆ ॥੨੭॥ ਸੁਧੁ
nwnk. min qin cwau eyhu; inq pRB kau loVy ]21]1] suDu kIcy

[2020-05-29 15:10] bhajneet commented on #140
Whoever is assigned to this needs to finish it ASAP if we are to release Desktop on Monday, June 1st

[2020-05-29 19:33] bhajneet commented on #137
I cannot see the work committed to resolve this issue -- @Harjot1Singh was the "merge" label added by accident? I believe now that you've added the stripVishraams function, we should probably transfer this issue to database to fix:

[code]
https://github.com/ShabadOS/database/blob/7097e360fdbba2fe627967c25a8ddd5e96ae125e/lib/models/Lines.js#L91

[2020-05-30 18:31] bhajneet opened #144 "Change toAscii to accept ascii strings"
This would allow toAscii to be used to sanitize ascii strings. It would also only convert unicode gurmukhi to it's ascii counterpart for old font set ups. And it would fix any ascii character combos.

[2020-05-30 18:33] bhajneet opened #145 "Add a function to sanitize ascii gurmukhi strings"
**Is your feature request related to a problem? Please describe.**
Our database has words like `Anµd` which a common user cannot search. They may search instead `AnMd`. Which our backend must convert to the former for proper matching.

**Describe the solution you'd like**
For strings like `ਅਨੰਦ` converted toAscii and then potentially sanitized to match the database.

[2020-05-30 18:35] Sarabveer commented on #144
Duplicate of #145

[2020-05-30 18:35] bhajneet commented on #145
In a way similar to fuzzy searching for consonants. We use ੳ for searching ਓ and vice versa.

[2020-05-30 19:20] Sarabveer opened #146 "Add Unicode Nukta Character combinations to toAscii"
**Describe the bug**

Unicode allows two ways to type nukta characters.

First is the defined code point, `ਸ਼` (U+0A36) which is a single character. The other method is to add a nukta char `਼` (U+0A3C) to an existing char, such as `ਸ਼` (U+0A38 + U+0A3C)

Since nutka is mapped to `æ`, the conversion results in `sæ` instead of `S`

**Expected behavior**
A clear and concise description of what you exp

[2020-05-30 20:35] #146 closed

[2020-05-30 21:47] #140 closed

[2020-06-02 01:40] Harjot1Singh commented on #25
Gone over the cases. Do we think a regex like `[॥\|।\]\[].*[॥\|।\]\[]` (match between line ending chars) would be suitable for 90% of the cases here?

We could even match on `[॥\|।\]\[].*`, so that all the chars onwards from a line ending char will be matched, which would give us 100% coverage over the lines you've provided, however I'm unsure if this will be problematic (should we have ANY lines

[2020-06-02 14:55] Harjot1Singh commented on #137
Added support for vishraam options in https://github.com/Harjot1Singh/gurmukhi-utils/commit/db6b14f8007bf199959ffea969ebf9cec42f3936.

Transferring to https://github.com/ShabadOS/database.

[2020-06-02 18:55] #25 closed

[2020-06-02 18:55] #138 closed

[2020-06-02 19:17] bhajneet opened #153 "Confirm first letter shahmukhi for search input"
Don't want to block #152, and I'm sure testing is a long process. See firstLetters function for shahmukhi strings.

_Originally posted by @bhajneet in https://github.com/ShabadOS/gurmukhi-utils/pull/152_

[2020-06-02 19:23] Sarabveer commented on #153
I wouldn't include shahmukhi in anything at the moment.

[2020-06-02 19:34] bhajneet commented on #153
Out of scope until shahmukhi knowledge base is improved to provide support

[2020-06-02 19:34] #153 closed

[2020-06-03 12:10] #105 closed

[2020-06-04 03:04] HsinghN commented on #139
If we can have something like this, it will be very useful.

https://geet-gatiroop.manaskriti.com/
https://www.youtube.com/playlist?list=PLLrIxj3qOvhWLKcnueAGjm3gJhmz_EzC2
https://github.com/vanimurarka/rhythmin-verse

[2020-06-04 07:43] HsinghN commented on #139
![page1](https://user-images.githubusercontent.com/26386021/83729099-85e07980-a68a-11ea-9d97-c5f76540b0b7.jpg)
![page2](https://user-images.githubusercontent.com/26386021/83729091-82e58900-a68a-11ea-8708-a6b0460f8e6c.jpg)
![page3](https://user-images.githubusercontent.com/26386021/83729095-8547e300-a68a-11ea-874c-a58686d7ff91.jpg)

[2020-06-04 07:47] HsinghN commented on #139
ਆਦਿ ਗੁਰਏ ਨਮਹ ॥ --- 10
ਜੁਗਾਦਿ ਗੁਰਏ ਨਮਹ ॥ --- 11
ਸਤਿਗੁਰਏ ਨਮਹ ॥ --- 9
ਸ੍ਰੀ ਗੁਰਦੇਵਏ ਨਮਹ ॥੧॥ --- 12
ਦੀਨ ਦਰਦ ਦੁਖ ਭੰਜਨਾ ਘਟਿ ਘਟਿ ਨਾਥ ਅਨਾਥ ॥ --- 24
ਸਰਣਿ ਤੁਮੑਾਰੀ ਆਇਓ ਨਾਨਕ ਕੇ ਪ੍ਰਭ ਸਾਥ ॥੧॥ --- 22
ਬਹੁ ਸਾਸਤ੍ਰ ਬਹੁ ਸਿਮ੍ਰਿਤੀ ਪੇਖੇ ਸਰਬ ਢਢੋਲਿ ॥ --- 23
ਪੂਜਸਿ ਨਾਹੀ ਹਰਿ ਹਰੇ ਨਾਨਕ ਨਾਮ ਅਮੋਲ ॥੧॥ --- 23
ਨਿਰਗੁਨੀਆਰ ਇਆਨਿਆ ਸੋ ਪ੍ਰਭੁ ਸਦਾ ਸਮਾਲਿ ॥ --- 26
ਜਿਨਿ ਕੀਆ ਤਿਸੁ ਚੀਤਿ ਰਖੁ ਨਾਨਕ ਨਿਬਹੀ ਨਾਲਿ ॥੧॥ --- 24

[2020-06-04 12:57] bhajneet commented on #139
Are there different schools of thought on counting? Is there a more preferred/popular/common rule set compared to others? Just wondering

[2020-06-04 20:43] Harjot1Singh opened #154 "Unicode vowel-letters do not produce correct firstLetter output"
**Describe the bug**
Unicode vowel-letters do not produce correct `firstLetter output. Instead, the conjoined vowel-letter is included.

**To Reproduce**
`firstLetters('ਇਕਨਾ. ਹੁਕਮੀ ਬਖਸੀਸ; ਇਕਿ, ਹੁਕਮੀ ਸਦਾ ਭਵਾਈਅਹਿ ॥')
=> `ਇ.ਹਬ;ਇ,ਹਸਭ॥`

**Expected behavior**
`ੲ.ਹਬ;ੲ,ਹਸਭ॥`

[2020-06-04 20:47] Harjot1Singh opened #155 "Excess spaces in `stripEndings`"
**Describe the bug**
`stripEndings()` can leave behind leading spaces. These should be removed.

**To Reproduce**
`stripEndings('] jpu]`) => ' jpu'`

**Expected behavior**
`stripEndings('] jpu]`) => 'jpu'`

[2020-06-04 22:11] bhajneet opened #158 "Line endings with non latin/gurmukhi numbers"
**Describe the bug**
https://github.com/ShabadOS/gurmukhi-utils/blob/43bf3b085456c8b14cb523b65919732df56aee5a/lib/stripEndings.js#L12 doesn't include hindi unicode numbers

**Screenshots**
See images in https://github.com/ShabadOS/desktop/pull/578

[2020-06-04 22:13] #155 closed

[2020-06-04 22:21] #154 closed

[2020-06-05 18:51] Harjot1Singh opened #160 "First Letter returns undefined on strings with more than 1 space"
**Describe the bug**
`firstLetters('string   with lots of   spaces`) // => sundefinedwloundefineds`.

This is because any extra spaces between words are not being removed.

**Expected behavior**
`firstLetters('string   with lots of   spaces`) // => swlof`.

[2020-06-05 18:56] Harjot1Singh opened #162 "Spaces before endings and rahao variations are not removed with `stripEndings`"
**Describe the bug**
`stripEndings()` does not remove variations of `rahao`, nor are any all preceding space characters removed.

**To Reproduce**
1) `stripEndings('] jpu ]') // => ' jpu'`
2) `stripEndings('ਤਾ ਖਸਮੈ ਮਿਲਣਾ ॥੧॥ ਰਹਾਉ ਦੂਜਾ ॥') // => 'ਤਾ ਖਸਮੈ ਮਿਲਣਾ ਦੂਜਾ'`

**Expected behavior**
1) `stripEndings('] jpu ]') // => 'jpu'`
2) `stripEndings('ਤਾ ਖਸਮੈ ਮਿਲਣਾ ॥੧॥ ਰਹਾਉ ਦੂਜਾ ॥') // => ਤਾ ਖਸਮੈ ਮਿਲਣਾ

[2020-06-05 19:00] #158 closed

[2020-06-06 01:52] #162 closed

[2020-06-06 01:53] #160 closed

[2020-06-06 02:04] #135 closed

[2020-06-14 12:53] bhajneet opened #165 "Rename stripAccents to something more familiar?"
I suggested "toBaseForm" or "toCoreConsonant" or such. However, Harjot pointed out that there is a convention to use "strip".

I wonder if we can simply use the same function as the "main letters" column? They would be to base character since we only use main letters for search purposes?

_Originally posted by @bhajneet in https://github.com/ShabadOS/desktop/pull/579/files/610320d6eeeb02bfc8d5a57c

[2020-06-14 12:54] bhajneet commented on #165
The first table of akhars are what we are trying to pull from the data afaik: https://en.wikipedia.org/wiki/Gurmukhi#Alphabet

[2020-06-14 13:27] Sarabveer commented on #165
`toBaseForm` sounds appropriate.

[2020-10-12 14:16] bhajneet commented on #136
Closing without resolution. This issue either affects too few users or there are too many issues with higher impact to be working on. It is possible to re-open or re-visit this issue at a later time. If you feel this issue is important, please give a thumbs-up reaction to the first post. You may track this issue from the pinned meta-tracker at the top of the issues home page.

[2020-10-12 14:29] Sarabveer commented on #139
I am not aware of different schools of thought on counting.

[2020-10-16 15:50] Sarabveer commented on #139
![image](https://user-images.githubusercontent.com/4297171/96280305-cf7c9180-0fa5-11eb-9836-69cfef8a25cc.png)

[2020-10-20 16:04] #139 closed

[2020-11-02 14:00] bhajneet opened #175 "`toEnglish` word endings not stripped correctly"
**Describe the bug**
toEnglish( 'ਹਰਿ ਹਰਿ' ) => `har hari` surely should just go to `har har`

[code]

[2020-11-02 14:35] Harjot1Singh opened #176 "stripEndings translation edge cases"
**Describe the bug**
Some translations have numbers, such as `8.4 million` mid-line. This causes it to be detected as a line ending and then everything including it onwards is removed, incorrectly.

**To Reproduce**
`stripEndings( 'Through 8.4 million incarnations you have wandered' )` => `Through`

**Expected behavior**
`stripEndings( 'Through 8.4 million incarnations you have wandered' )` => `Th

[2020-11-02 17:10] #176 closed

[2020-11-03 02:13] dsomel21 opened #179 "Add GitPod integration for quickly playgrounding with the gurmukhi-utils"
**Is your feature request related to a problem? Please describe.**
Feature request is **not** related to a problem.

**Describe the solution you'd like**

* As a user, I should be able to access the latest GitPod

Click here:
<img width="167" alt="Screen Shot 2020-11-02 at 9 09 59 PM" src="https://user-images.githubusercontent.com/17516559/97938630-dc440800-1d4f-11eb-8be7-6a03ac71007d.png">

and _

[2020-11-03 18:22] Harjot1Singh opened #180 "Update toShahmukhi with appropriate end of character transliteration"
Perhaps best to open a new issue for you to work on, I don't know how to fix the tests on this

![image](https://user-images.githubusercontent.com/14130567/97944762-82ddd800-1d53-11eb-803b-e7a03011bb92.png)

Please allow this PR to be merged in for the time being

_Originally posted by @bhajneet in https://github.com/shabados/gurmukhi-utils/pull/177#issuecomment-720873846_

[2020-11-03 18:24] #175 closed

[2020-11-07 15:59] Sarabveer commented on #136
I thought about this more, and I realized this would be useful. Currently I have a set of regex lookups that properly format for larivaar.

I will look into implementing this sooner or later.

[2020-11-07 16:01] bhajneet commented on #136
Can you give an example of how it's helpful? We just remove spaces at this time, so wondering what else is happening with regex

[2020-12-30 08:55] preetcharan opened #185 "Transliteration error"
On the transliteration for 'pair' letter ShabadOS is producing the @ sign.

See image below:
<img width="2228" alt="image" src="https://user-images.githubusercontent.com/41019240/103340665-8ef8c400-4a7c-11eb-8a5e-92b579ce3541.png">

Letter should be ignored in the transliteration

Mac OS Mojave
iMac
Shabad OS App Version 2.9.0, Database Version 4.7.0

[2020-12-30 14:12] bhajneet commented on #185
@Harjot1Singh adding this works:

![image](https://user-images.githubusercontent.com/14130567/103356408-d6804f80-4a7e-11eb-9392-c01b398f373c.png)

What's currently in place doesn't work idk why:

![image](https://user-images.githubusercontent.com/14130567/103356433-e6982f00-4a7e-11eb-8a20-ac09b8ec4dd4.png)

![image](https://user-images.githubusercontent.com/14130567/103356474-f879d200-4a7e-11eb-92

[2020-12-30 14:27] Harjot1Singh commented on #185
Could you check if passing any other character in the `supressions` list causes it to be displayed? Perhaps we should write a test case for this.

[2020-12-30 14:30] bhajneet commented on #185
Yeah I was just investigating that. None of the suppressions were actually being suppressed. I added two test cases, will sort it out.

[2020-12-30 15:15] bhajneet commented on #185
Very confused

![image](https://user-images.githubusercontent.com/14130567/103362053-5dd1c100-4a87-11eb-8131-0d2171ddbdbb.png)

Transliteration map seems correct per first parameter of console log. Transliteration doesn't suppress per second and third parameters of console log. Transliteration works if adding line 195.

Going to unassign myself

[2020-12-30 17:32] Harjot1Singh commented on #185
I see! It's because of the passthrough: `transliterationMap[ '@' ] === '' == false`, therefore the `|| letter` kicks in. Did you push the test cases up anywhere?

[2020-12-30 19:13] bhajneet commented on #185
I didn't push, but I just added the OP word and khanda symbol as two tests

On Wed, Dec 30, 2020, 12:32 Harjot Singh <notifications@github.com> wrote:

[2021-01-21 12:03] preetcharan opened #186 "Transliteration development - getting rid of extra a's"
**Describe the bug**
Extra a's coming up in words of transliterations, have given a couple of examples below but if more needed let me know.

**To Reproduce**
Steps to reproduce the behavior:
Search: kmkp (kaljug meh keertan pardhaanaa

Translit that you get:
kalajug meh keeratan paradhaanaa |

What I would like: Get rid of the extra a's

Change to:
kaljug meh keertan pardhaanaa |

Another example

[2021-01-21 12:13] bhajneet commented on #186
What rule can you use to get rid of the extra characters? If it's something you can explain to a 5 year old we can probably program it in.

[2021-01-21 12:43] preetcharan commented on #186
I think somewhere there is a rule that is adding in an "a" after certain
characters. So removing thst if you know the pattern or know the rules
should be easy.  Shall I give more examples to help you see the pattern?

On Thu, 21 Jan 2021 at 12:13, Bhajneet S.K. <notifications@github.com>
wrote:

[2021-01-21 15:27] bhajneet commented on #186
Issue is if you remove all a then you will get things like

Stnaam, naank, prsaad

How does it know when to add the a between two consonants and when not to?

It has to do with compound words which we could go through our Gurbani and add hyphens for transmit purposes which then get stripped out but that's a lot of work and a bit odd

What do you think @Harjot1Singh  and @Sarabveer ?

[2021-03-12 14:04] preetcharan opened #188 "Transliteration generated wrong"
for the word jaahi and similar words that are basically 'aahi', currently shabad os is make it aeh but it should be 'aahi' e.g.

oe ji aaveh aas kar jaeh niraase kit |

should be
jaahi not jaeh

**To Reproduce**
Steps to reproduce the behavior:
type in ajAAkjnk

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="2329" alt="image" src="https://user-images.githu

[2021-03-12 16:20] bhajneet commented on #188
@Sarabveer thoughts?

[2021-03-12 16:21] bhajneet commented on #188
@preetcharan note in the same example it would also change "aaveh" to "aavhi", do you agree?

[2021-03-12 16:32] Sarabveer commented on #188
The current rules are complex, it is very hard to check if the pronunciation is **ਹਿਂ** or just **ਹਿ**.

If there was a pronunciation dataset, that could be used instead to produce transliteration which would be more correct.

[2021-03-15 08:12] preetcharan commented on #188
no it should stay 'aaveh' @bhajneet for that type of word 🙏

[2021-06-12 22:33] bhajneet commented on #186
note to self: test a list of 4 letter words with no vowel between consonants 2 and 3.

[2021-06-12 22:44] #185 closed

[2021-11-16 13:18] bhajneet commented on #144
This is not a duplicate.

[2022-01-10 07:50] sanbroz opened #196 "toAscii for non gurbani text"
Hi, Can we use toAscii and other translation function with general Punjabi text other then Gurbani text?

[2022-01-10 09:15] Harjot1Singh commented on #196
Hi there!

Yes - it should work.

Out of interest, what is your use case?

[2022-01-10 15:09] bhajneet commented on #196
Hi,

There is a website https://unicode.sarabveer.me/ that I believe uses gurmukhi-utils on the backend. It should give you an idea of what is possible.

If you run into any issues, please let us know or open a PR to this repo to fix it. I'm also interested how you're planning to use gurmukhi-utils, please let us know when you get a chance!

[2022-01-11 04:35] sarabveer opened #197 "stripEndings removing number from translation"
https://github.com/shabados/gurmukhi-utils/blob/2d193029dac68408fb659231ea523d683e582ac9/test/stripEndings.spec.js#L48

[2022-01-11 04:36] Sarabveer commented on #197
Similar situation here, 1753 is part of the translation

https://github.com/shabados/gurmukhi-utils/blob/2d193029dac68408fb659231ea523d683e582ac9/test/stripEndings.spec.js#L103

[2022-01-11 09:41] sanbroz commented on #196
Thanks, I just wanted to build a cli tool to convert text files to and from
Unicode text.

Thanks for your help

On Mon, 10 Jan, 2022, 8:39 pm Bhajneet S.K., ***@***.***>
wrote:

[2022-01-11 12:37] bhajneet commented on #197
As indicated by the comment/documentation:

Not designed for headings or Sirlekhs.

[2022-01-11 13:22] bhajneet commented on #196
Imo, this example `ibMRdwbn` is incorrectly written in ASCII. It should be `ibRMdwbn` which does correctly translate to ਬ੍ਰਿੰਦਾਬਨ. Perhaps a pre-processing step that finds `MR` and swaps them to `RM` would be the solution?

[2022-01-11 13:26] bhajneet commented on #197
I didn't see the second comment. Re-opening as an issue and renaming title.

[2022-01-14 17:19] Sarabveer commented on #196
`ibRMdwbn` is correct. Pronunciation goes: `ਬ੍ਰ` + `ਿ` + `ੰ` + `ਦਾ` + `ਬਨ`

ਬ੍ਰਿੰਦਾਬਨ = ਬ `U+0A2C` +  ੍ `U+0A4D` + ਰ `U+0A30` + ਿ `U+0A3F` + ੰ `U+0A70` + ਦ `U+0A26` + ਾ `U+0A3E` + ਬ `U+0A2C` + ਨ `U+0A28`

I am not sure about swapping `MR` and `RM`, might introduce edge cases.

[2022-01-18 22:00] #196 closed

[2022-04-09 16:01] dsomel21 commented on #179
I can get back on this in a little bit if it's still something that's important.

I know you can go into a GitHub repo and press `.` and it opens up a workspace, but you can't run anything on it... yet.

[2022-04-09 23:01] bhajneet commented on #179
This is a cool idea, but not as impactful as a ruby port. It's up to you what you're interested in, happy to see progress on either!

[2022-04-12 19:28] #27 closed

[2022-05-16 05:29] InderdeepBajwa commented on #197
This is caused by: https://github.com/shabados/gurmukhi-utils/blob/bd76ea455f50af141593396b1f0b6c2ab24bd9d3/lib/stripEndings.js#L31

[2022-06-24 10:45] RamnSingh opened #199 ""firsLetters" function is not aligned with 'first_letters' colum of 'line' table from ShabadOs database"
### Question

I am trying to query data from 'lines' table of ShabadOs database using 'first_letters'  column. Before I fetch data, for some reasons I use firstLetters function from 'gurmukhi-utils' on a line from ShabadOs database. I found out that in the column 'first_letters' of 'lines' table of the database is ignoring lower case 'i' therefore there is no lower case 'i' in the 'first_letters'

[2022-06-24 15:50] bhajneet commented on #199
Hello,

If you take the `gurmukhi` string `gwvY ko; ividAw ivKmu vIcwru ]` and convert it into unicode / transliterate to English, you will get:

As you can see, the first letters are `gkvvv`. The lower case `i` in the old ASCII gurbani fonts is the equivalent of unicode `ਿ` as you can see on the first 2 v-starting words.

If you read the docs for `firstLetters` you will see that it is intended to

[2022-06-24 17:10] RamnSingh commented on #199
Thank you for clarifying about 'firstLetters' function. I will be first converting the text to Unicode then to ASCII as you suggested.

I would try to connect with you and other members of ShabadOS team on slack to further share informations about what I am building.

Thank you once again.

[2022-06-24 18:20] #199 closed

[2022-07-15 18:56] bhajneet opened #207 "Test halant with unicode func"
### Summary

Check if halant without following below_base_letter works correctly

### Approach

-

[2022-07-15 18:57] bhajneet opened #206 "Add negative tests to unicode func"
### Summary

Add some tests to make sure unicode isn't breaking lines (meaning valid unicode input = output)

### Approach

-

[2022-11-06 20:01] bgo-eiu opened #201 "ਪੰਜਾਬੀ ਦਸਤਾਵੇਜ਼"
### Persona

ਪੜ੍ਹਾ ਵਾਲੇ

### Goal

ਪੰਜਾਬੀ ਵਿੱਚ ਦਸਤਾਵੇਜ਼ ਵੀ ਦਿਓ

### Motivation

ਪੰਜਾਬੀ ਵਿੱਚ ਤਫ਼ਸੀਲ ਚੰਗੀ ਹੋਏਗੀ

### Acceptance Criteria

I wanted to suggest providing the documentation for this tool (possibly others) in Punjabi as well as English in the interest of fostering the use of the language on the internet. What do people here think?

### Approach

_No response_

### Mockup

_No response_

[2022-11-06 20:28] bhajneet commented on #201
That's a nice idea! If it can help others and you're willing to do the work, we would appreciate it.

It might be a good idea to start with the English docs and confirm they are up to date before creating the Gurmukhi Punjabi version.

The technology we could use for the existing docs website is: https://docusaurus.io/docs/i18n/tutorial

The current docs are located at: https://docs.shabados.com/g